<!DOCTYPE html>
<html>
<head>
    <title>pugilist!</title>
    <meta name="description" content="🤷 Not much here tbh">
    <link id="favicon" rel="icon" href="favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <script src="client.js"></script>
</head>
<body>
  <script>
    var app = Elm.Main.fullscreen()
  </script>
</body>
</html>
